In [6]:
import pandas as pd
df = pd.read_csv('abalone.csv')
df.shape

(4176, 9)

In [5]:
df.describe()

,length,diameter,height,weight.w,weight.s,weight.v,weight.sh,rings
count,4176.000000,4176.000000,4176.00000,4176.000000,4176.000000,4176.000000,4176.000000,4176.000000
mean,0.523968,0.407860,0.13951,0.828638,0.359332,0.180561,0.238795,9.933669
std,0.120097,0.099243,0.04183,0.490402,0.221978,0.109607,0.139200,3.224555
min,0.075000,0.055000,0.00000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.11500,0.441500,0.186000,0.093375,0.130000,8.000000
50%,0.545000,0.425000,0.14000,0.799500,0.336000,0.170750,0.233750,9.000000
75%,0.615000,0.480000,0.16500,1.153000,0.501625,0.252625,0.328625,11.000000
max,0.815000,0.650000,1.13000,2.825500,1.488000,0.760000,1.005000,29.000000

In [7]:
df.values

array([['M', 0.455, 0.365, ..., 0.10099999999999999, 0.15, 15],
       ['M', 0.35, 0.265, ..., 0.0485, 0.07, 7],
       ['F', 0.53, 0.42, ..., 0.1415, 0.21, 9],
       ...,
       ['M', 0.6, 0.475, ..., 0.2875, 0.308, 9],
       ['F', 0.625, 0.485, ..., 0.261, 0.29600000000000004, 10],
       ['M', 0.71, 0.555, ..., 0.3765, 0.495, 12]], dtype=object)

In [8]:
df

,sex,length,diameter,height,weight.w,weight.s,weight.v,weight.sh,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4171,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4172,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4173,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4174,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4175,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12